*~
branches/
build/
dist/
testsuite/runtest.pyc

.cproject
.project
/build12/CMakeFiles
/build12/Debug
/build12/Win32
/build12/src/libOpenImageIO/OpenImageIO.dir
/build12/src/libOpenImageIO/CMakeFiles
/build12/src/libOpenImageIO/Debug
/build12/src/libutil/CMakeFiles
/build12/src/libutil/Debug
/build12/src/libutil/OpenImageIO_Util.dir
/build12/src/nuke/CMakeFiles
/build12/testsuite
/build12/cmake_install.cmake
/build12/src/doc/cmake_install.cmake
/build12/src/include/cmake_install.cmake
/build12/src/libOpenImageIO/cmake_install.cmake
/build12/src/libutil/cmake_install.cmake
/build12/src/nuke/cmake_install.cmake
/build12/CPackConfig.cmake
/build12/CPackSourceConfig.cmake
/build12/src/doc/CMakeFiles/generate.stamp.depend
/build12/src/include/CMakeFiles/generate.stamp.depend
/build12/*.sdf
/build12/src/doc/CMakeFiles/generate.stamp
/build12/src/include/CMakeFiles/generate.stamp
/build12/DartConfiguration.tcl
/build12/CMakeCache.txt
/build12/cpack/License.txt
/build12/OpenImageIO.opensdf
/build12/cpack/Readme.rst
