*~
branches/
build/
dist/
testsuite/runtest.pyc

.cproject
.project
/build12/CMakeFiles
/build12/Debug
/build12/Win32
/build12/src/libOpenImageIO/OpenImageIO.dir
/build12/src/libOpenImageIO/CMakeFiles
/build12/src/libOpenImageIO/Debug
/build12/src/libutil/CMakeFiles
/build12/src/libutil/Debug
/build12/src/libutil/OpenImageIO_Util.dir
/build12/src/nuke/CMakeFiles
/build12/testsuite
/build12/cmake_install.cmake
/build12/src/doc/cmake_install.cmake
/build12/src/include/cmake_install.cmake
/build12/src/libOpenImageIO/cmake_install.cmake
/build12/src/libutil/cmake_install.cmake
/build12/src/nuke/cmake_install.cmake
/build12/CPackConfig.cmake
/build12/CPackSourceConfig.cmake
/build12/src/doc/CMakeFiles/generate.stamp.depend
/build12/src/include/CMakeFiles/generate.stamp.depend
/build12/*.sdf
/build12/src/doc/CMakeFiles/generate.stamp
/build12/src/include/CMakeFiles/generate.stamp
/build12/DartConfiguration.tcl
/build12/CMakeCache.txt
/build12/cpack/License.txt
/build12/OpenImageIO.opensdf
/build12/cpack/Readme.rst
/build12/*.suo
/build12/Release
/build12/src/iinfo/Debug
/build12/src/iinfo/iinfo.dir
/build12/ipch
/build12/src/iconvert/CMakeFiles
/build12/src/libOpenImageIO/Release
/build12/src/iconvert/*.cmake
/build12/src/idiff/*.cmake
/build12/src/igrep/*.cmake
/build12/src/iinfo/*.cmake
/build12/src/iv/*.cmake
/build12/src/maketx/*.cmake
/build12/src/oiiotool/*.cmake
/build12/src/testtex/*.cmake
/build12/src/idiff/CMakeFiles/*.depend
/build12/src/igrep/CMakeFiles/*.depend
/build12/src/iinfo/CMakeFiles/*.depend
/build12/src/iv/CMakeFiles/*.depend
/build12/src/maketx/CMakeFiles/*.depend
/build12/src/oiiotool/CMakeFiles/*.depend
/build12/src/testtex/CMakeFiles/*.depend
/build12/src/idiff/CMakeFiles/*.stamp
/build12/src/igrep/CMakeFiles/*.stamp
/build12/src/iinfo/CMakeFiles/*.stamp
/build12/src/iv/CMakeFiles/*.stamp
/build12/src/maketx/CMakeFiles/*.stamp
/build12/src/oiiotool/CMakeFiles/*.stamp
/build12/src/testtex/CMakeFiles/*.stamp
