*~
branches/
dist/
testsuite/runtest.pyc

.cproject
.project
/build12/CMakeFiles
/build12/Debug
/build12/Win32
/build12/src/libOpenImageIO/OpenImageIO.dir
/build12/src/libOpenImageIO/CMakeFiles
/build12/src/libOpenImageIO/Debug
/build12/src/libutil/CMakeFiles
/build12/src/libutil/Debug
/build12/src/libutil/OpenImageIO_Util.dir
/build12/src/nuke/CMakeFiles
/build12/testsuite
/build12/cmake_install.cmake
/build12/src/doc/cmake_install.cmake
/build12/src/include/cmake_install.cmake
/build12/src/libOpenImageIO/cmake_install.cmake
/build12/src/libutil/cmake_install.cmake
/build12/src/nuke/cmake_install.cmake
/build12/CPackConfig.cmake
/build12/CPackSourceConfig.cmake
/build12/src/doc/CMakeFiles/generate.stamp.depend
/build12/src/include/CMakeFiles/generate.stamp.depend
/build12/*.sdf
/build12/src/doc/CMakeFiles/generate.stamp
/build12/src/include/CMakeFiles/generate.stamp
/build12/DartConfiguration.tcl
/build12/CMakeCache.txt
/build12/cpack/License.txt
/build12/OpenImageIO.opensdf
/build12/cpack/Readme.rst
/build12/*.suo
/build12/Release
/build12/src/iinfo/Debug
/build12/src/iinfo/iinfo.dir
/build12/ipch
/build12/src/iconvert/CMakeFiles
/build12/src/libOpenImageIO/Release
/build12/src/iconvert/*.cmake
/build12/src/idiff/*.cmake
/build12/src/igrep/*.cmake
/build12/src/iinfo/*.cmake
/build12/src/iv/*.cmake
/build12/src/maketx/*.cmake
/build12/src/oiiotool/*.cmake
/build12/src/testtex/*.cmake
/build12/src/idiff/CMakeFiles/*.depend
/build12/src/igrep/CMakeFiles/*.depend
/build12/src/iinfo/CMakeFiles/*.depend
/build12/src/iv/CMakeFiles/*.depend
/build12/src/maketx/CMakeFiles/*.depend
/build12/src/oiiotool/CMakeFiles/*.depend
/build12/src/testtex/CMakeFiles/*.depend
/build12/src/idiff/CMakeFiles/*.stamp
/build12/src/igrep/CMakeFiles/*.stamp
/build12/src/iinfo/CMakeFiles/*.stamp
/build12/src/iv/CMakeFiles/*.stamp
/build12/src/maketx/CMakeFiles/*.stamp
/build12/src/oiiotool/CMakeFiles/*.stamp
/build12/src/testtex/CMakeFiles/*.stamp
/build/CMakeFiles
/build/Debug
/build/Win32
/build/src/libOpenImageIO/OpenImageIO.dir
/build/src/libOpenImageIO/CMakeFiles
/build/src/libOpenImageIO/Debug
/build/src/libutil/CMakeFiles
/build/src/libutil/Debug
/build/src/libutil/OpenImageIO_Util.dir
/build/src/nuke/CMakeFiles
/build/testsuite
/build/cmake_install.cmake
/build/src/doc/cmake_install.cmake
/build/src/include/cmake_install.cmake
/build/src/libOpenImageIO/cmake_install.cmake
/build/src/libutil/cmake_install.cmake
/build/src/nuke/cmake_install.cmake
/build/CPackConfig.cmake
/build/CPackSourceConfig.cmake
/build/src/doc/CMakeFiles/generate.stamp.depend
/build/src/include/CMakeFiles/generate.stamp.depend
/build/*.sdf
/build/src/doc/CMakeFiles/generate.stamp
/build/src/include/CMakeFiles/generate.stamp
/build/DartConfiguration.tcl
/build/CMakeCache.txt
/build/cpack/License.txt
/build/OpenImageIO.opensdf
/build/cpack/Readme.rst
/build/*.suo
/build/Release
/build/src/iinfo/Debug
/build/src/iinfo/iinfo.dir
/build/ipch
/build/src/iconvert/CMakeFiles
/build/src/libOpenImageIO/Release
/build/src/iconvert/*.cmake
/build/src/idiff/*.cmake
/build/src/igrep/*.cmake
/build/src/iinfo/*.cmake
/build/src/iv/*.cmake
/build/src/maketx/*.cmake
/build/src/oiiotool/*.cmake
/build/src/testtex/*.cmake
/build/src/idiff/CMakeFiles/*.depend
/build/src/igrep/CMakeFiles/*.depend
/build/src/iinfo/CMakeFiles/*.depend
/build/src/iv/CMakeFiles/*.depend
/build/src/maketx/CMakeFiles/*.depend
/build/src/oiiotool/CMakeFiles/*.depend
/build/src/testtex/CMakeFiles/*.depend
/build/src/idiff/CMakeFiles/*.stamp
/build/src/igrep/CMakeFiles/*.stamp
/build/src/iinfo/CMakeFiles/*.stamp
/build/src/iv/CMakeFiles/*.stamp
/build/src/maketx/CMakeFiles/*.stamp
/build/src/oiiotool/CMakeFiles/*.stamp
/build/src/testtex/CMakeFiles/*.stamp
/build/src/libOpenImageIO/*.dir
/build/src/iconvert/*.dir
/build/src/idiff/*.dir
/build/src/igrep/*.dir
/build/src/iinfo/*.dir
/build/src/iv/*.dir
/build/src/libutil/*.dir
/build/src/maketx/*.dir
/build/src/oiiotool/*.dir
/build/src/testtex/*.dir
/build12/src/libOpenImageIO/x64
/build12/x64
